html {
  margin: 0;
  min-height: 100%;
}
.Header {
  margin: 0%;

}

.body {
  height: 100%;
  
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Serve para dar o espaçamento entre os itens. */
  height: 20rem;
  background-size: cover;
  background-position: 0%;
  background-image: url(image_background.jpg);
  background-size: cover;

  border-radius: 3px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.5);
  margin: 0cm;
}
.hide-button {
  padding: 20px 50px;
  margin-top: -25px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #87272f;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  letter-spacing: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.relogio div {
  display: flex;
  flex-direction: column;
  /* Serve para colocar os elementos um em baixo do outro. */
  align-items: center;
  justify-content: center;
  min-height: 8.625rem;
  min-width: 9.375rem;
  color: #fff;
  background: #87272f;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  letter-spacing: 3px;
  margin: 20px;
}

.relogio span {
  font-weight: bolder;
  font-size: 3.75rem;
}

.relogio span.tempo {
  font-size: 0.625rem;
}

.Footer {
  text-align: center;
  background: #87272f;
  visibility: hidden;

}

.Footer p{
  text-align: center;
  justify-content: center;
  visibility:hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: rgb(230, 193, 193);
  padding: 0;
  margin: auto;
}

header {
  background-image: ("/image_background.jpg");
  margin: auto 0;
  padding: 10px 3px;
}

header h1 {
  color: rgb(73, 70, 70);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 50px;
  text-shadow: 5xp 5xp 10xp rgb(80, 75, 75);
  text-align: left;
  padding: 0 0 0 50px;
}

.header-image {
  background-image: ("/image_background.jpg");
  background-position: center;
  background-size: cover;
}

footer {
  position: relative;
  text-align: center;
  
  margin: 0%;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: transparent;
}

footer p {
  color: black;
  padding: 10px 0;
  
  text-align: center;
}

.note {
  background: rgb(249, 221, 221);
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 220px;
  margin-left: 50px;
  margin-bottom: 50px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  color: rgb(73, 70, 70);
  text-align: left;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: rgb(73, 70, 70);
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f49393;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  font-size: 20px;
}

form {
  position: relative;
  width: 480px;
  margin: 15px auto 60px auto;
  background: rgb(242, 228, 228);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  top:30px;
}


form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: rgb(242, 228, 228);
}

form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f49393;
  color: rgb(73, 70, 70);
  border: none;
  border-radius: 10%;
  width: 72px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
